.card-title{
    font-size: 15px;
    font-weight: 700;
}
.card-subtitle{
    font-size: 10px;
}

.imgIcon{
    width: 20px;
    height: 20px;
    margin-left: 5px;
    cursor: pointer;
}



@media (max-width: 500px) {
    .cardSmallWidth{
        width: 10rem;
    }
    .card-title{
        font-size: 10px;
        font-weight: 700;
    }
    .card-subtitle{
        font-size: 7px;
    }
    
    .imgIcon{
        width: 15px;
        height: 15px;
        margin-left: 5px;
        cursor: pointer;
    }
}



.custom-pointer:hover{
    background-color: #faf6f1;
    cursor: pointer;
}
