.welcomeContainer{
    position: fixed;
    right: 0;
    bottom: 0;
    width: 16rem;
    text-align: center;
    margin: 10px 20px;
}

.inspPicture img{
    width: 15rem;
    height: 25vh;
}


@media (max-width: 1265px){
    .rightBar{
        display: none;
    }
}
.calenderContainer{
    position: fixed;
    top: 5%;
    right: 0;
    margin: 10px;
    width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
}
.calender{
    transform: scale(0.6);
}
